<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="nav-bar">
        <a href="../"><img src="../public/img/logo.png" alt="Pomodoro Cafe Logo" id="header-logo" width="80"></a>
        <div id="nav-links">
            <a class="nav-item" href="../">Home</a>
            <a class="nav-item" href="../user/login">Login</a>
            <a class="nav-item" href="../user/signup">Signup</a>
        </div>
    </div>

    <script src="../public/util.js"></script>
</body>
</html>