<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css" />
    <title>Login</title>
</head>

<body class="bg">
    <h1 id="page-title">Welcome to BetterU</h1>
    <div class="form-container">
        <form  class="user-form" id="login-form">
            <h1 >Login or signup to start</h1>

                <input type="text" class="user-input" id="username-input" name="username" placeholder="Username" required>
                <br>
                
                <input type="password" class="user-input" id="password-input" name="password" placeholder="Password" required>
                <br>

                <button class="button" id="login-button">Login</button>
                <br>
                <button class="button" id="signup-button">Sign-Up</button>
        </form>
    </div>
</body>
</html>