<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css" />
    <title>Signup</title>
</head>
<body>
    <div class="form-container">
        <form  class="user-form" id="login-form">
            <h1 >Create an Account</h1>

                <input type="text" class="user-input" id="username-input" name="username" placeholder="Enter a Username" required>
                <br>

                <input type="text" class="user-input" id="name-input" name="name" placeholder="Enter your Name" required>
                <br>
                
                <input type="text" class="user-input" id="password-input" name="password" placeholder="Create a Password" required>
                <br>

                <input type="text" class="user-input" id="password-input" name="password" placeholder="Confirm Password" required>
                <br>

                <button class="button" id="signup-button">Sign-Up</button>
        </form>
    </div>
</body>
</html>