<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css" />
    <title>Signup</title>
</head>
<body class="bg">
    <h1 id="page-title">BetterU</h1>
    <div class="form-container">
        <form  action='/signup' method='POST' class="user-form" id="login-form">
            <h1 >Create an Account</h1>
            <div>
                <div class="signup-label">
                    <label for="username">Pick a username: </label>
                    <input type="text" class="user-input" id="username-input" name="username" placeholder="Username" required>
                    <br>
                </div>

                <div class="signup-label">
                    <label for="email">Enter your email: </label>
                    <input type="email" class="user-input" id="email-input" name="email" placeholder="email" required>
                    <br>
                </div>

                <div class="signup-label">
                    <label for="name">Enter your name: </label>
                    <input type="text" class="user-input" id="name-input" name="name" placeholder="Name" required>
                    <br>
                </div>

                <div class="signup-label">
                    
                    <label for="name">Choose a password: </label>
                    <input type="password" class="user-input" id="password-input" name="password" placeholder="Password" required>
                    <br>
            

                    <input type="password" class="user-input" id="password-input" name="password" placeholder="Confirm Password" required>
                    <br>
                </div>
            </div>

                <button type='submit' class="button" id="signup-button">Sign-Up</button>
        </form>
        
    </div>
</body>
</html>